@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<center><img src="images/logo.jpg" width="400" /></center>

<table class="table">
    <thead>
        <tr>
            <th>From</th>
            <th>Subject</th>
            <th>Date/Time</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.listEmails)
        {
            <tr>
                <td>@item.EmailSender</td>
                <td>
                    @if (item.EmailIsRead.Equals("0"))
                    {
                        <img src="images/yellow.gif" height="10pt">
                    }
                    <a>@item.EmailSubject</a>
                </td>
                <td>@item.EmailDate</td>
                <td>
                    <!-- Updated href attribute for Read button -->
                    <a class="btn btn-light btn-sm" asp-page="/ReadMail" asp-route-emailid="@item.EmailID" style="color:#900; font-weight:bold; margin-right: 5px;">Read</a>
                    <form method="post" asp-page-handler="Delete" asp-route-emailId="@item.EmailID" style="display:inline;">
                        <button type="submit" class="btn btn-light btn-sm" style="color:#900; font-weight:bold;">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary btn-sm" href="/ComposeMail?Sender=@User.Identity.Name">Compose New Email</a>
